.home {
  height: 50vh;

}
.product-img {

  width: 250px;
  height: 300px;
  margin: 40px;
}
.icons {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  width: 30px;
  margin: 5px;
  height: 30px;
  padding: 5px;
}
.footer {
  color:azure;
  bottom: 0%;
  display: flex;
  width: 100%;
  /* position: fixed; */
  /* margin-top: 15px; */
  height: 40px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: rgb(6, 98, 63);
}
.product-overlay {
  background-color: rgb(22, 21, 21);
  color: aliceblue;
  opacity: 0;
  position: absolute;
  inset: 0;
display: grid;
place-items: center;
}
.product {
  position: relative;
  
}
.product:hover .product-overlay{

opacity: .7;

}
