.product-detail {
  display: flex;
  justify-content: center;
  height: 700px;
  padding-bottom: 50px;
  
}

.detail {
  background-color: #1e6072;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 18px;
  width: 380px;
  height: 497px;
  padding: 25px;
  justify-content: space-evenly;
}

.name {
  font-size: 64px;
  letter-spacing: 1px;
  padding: 5px;
}

.price {
  font-size: 28px;
}

.description {
  letter-spacing: 0.9px;

}

.product-detail-image {
  height: 497px;
  width: object-contain;
  padding: 0 40px;
  
}

.button-container {
  display: flex;
  justify-content: space-between;


}

.details-button {
  display: flex;
  width: 166px;
  height: 83px;
  color: white;
  background-color: #2F4858;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 24px;

}



.edit-link {
  color: white;
}

@media (max-width: 1024px) {
  .name {
    font-size: 32px;
  }
  .product-detail-image {
    width: 500px;
    margin-top: -100px;
    padding: 10px;
  }
  .product-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .product-detail-image {
    width: 300px;
    margin: 15px;
    padding: 10px;
  }
  .product-detail {
    padding: 0px;
    padding-top: 120px;
    
  }
  .button-container {
    display: block;
    padding: 20px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;
  }
}
.details-button-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  }